-i https://pypi.org/simple
alembic
certifi
click
cloudinary
flask
flask
flask
flask
flask
flask
gunicorn
itsdangerous
jinja2
mako
markupsafe
psycopg2
python
python
python
pyyaml
six
sqlalchemy
urllib3
werkzeug
wtforms
