.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FCF5AB;
}

.parrafoDescription{
    color: #FCF5AB
}

.titledescription{
    color:#FCF5AB
}

.description{
    background-color: #07AA7C;
    
    
}


.cardsDescription{
    border: 2px solid #FCF5AB;
    padding: 2vw;
}

.linea{
    padding: 0;
    margin-top: 10px;
    margin: 0;
    height: 50%;
    background-color: #07AA7C;
}

.pagehome{
    background: #07AA7C;
}

.espaciofooter{
    height: 18px;
    background-color: #fcf9db;
}