.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#044E39;
    width: 90%;
}

.parrafoDescription{
    color: #044E39
}

.titledescription{
    color:#044E39
}

.description{
    background-color: #fcf9db;    
}

.linea{
    padding: 0;
    margin-top: 10px;
    margin: 0;
    height: 50%;
    background-color: #fcf9db;
}

.pagehome{
    background: #fcf9db;
}

.espaciofooter{
    height: 18px;
    background-color: #fcf9db;
}
