.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#044E39
}

.parrafoDescription{
    color: #044E39
}

.titledescription{
    color:#044E39
}

.description{
    background-color: #FCFBF6;
    
    
}


.cardsDescription{
    border: 2px solid #044E39;
    padding: 15px;
    
    background-color:#f7f2dd;
}

 .linea{
    padding: 0;
    margin-top: 10px;
    margin: 0;
    height: 50%;
    background-color: #FCFBF6;
} 

.pagehome{
    background: #FCFBF6;
}

.espaciofooter{
    height: 18px;
    background-color: #FCFBF6;
}