.footer{
    margin-top: 0;
    margin-bottom: 0;
}

.cards{
    border: 0;
    padding: 2vw;
    text-align: left;
    
}

.enlacesAyuda{
    color: #FCF5AB;
    text-decoration: none;
}

.enlacesAyuda:hover{
    background-color: #D0F3C6;
    color:black;
    border: 0;
    border-radius: 10px;
}


.copyright{
    font-size: small;
}

.redes {
    color: #FCF5AB;
    text-decoration: none;
}

.redes:hover{
    color : #FCF5AB;
}