/* .form form-horizontal{
    background-color: white;
}
.form-control{
width: 600px;
height: 30px;
border-color: gainsboro;
}
.form-actions center{
    padding: 10px;
}
.btn btn-warning mr-1{
    padding:10px;
    background-color: rgb(207, 64, 12);
}
.btn btn-primary{
    padding: 10px;
    background-color: #07AA7C;
}  */