/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.navbar {
    background-color: #07AA7C;
}

.nav-link {
    color:#FCFBF6;
}
.nav-link:hover {
    color:#FCFBF6;
}

.nav-bt{
    background-color: #D0F3C6;
    color:black;
    border: 0;
    border-radius: 10px;
}
.nav-bt:hover{
    background-color: hwb(107 67% 7%);
    color:black
}

.nav-title{
    color:#FCFBF6;
    font-size: 25px;
    margin-left: 5px;
}
.nav-title:hover {
    color:#FCFBF6;
}

.navbar-toggler-icon{
    background-color: #D0F3C6;
    color:#FCFBF6;
    border-radius: 10px;
}

.nav-item {
    font-size: 15px;
}


.btnCta{
    margin-left: 30px;
    border:0;
}

.textCtaTitle{
    text-align: center;
    color: #044E39;
}
.textCtaParr{
    color:black
}
