

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
#app{
    background-color: #FCFBF6;
}

.btnBusqueda{
    display: block;
    margin-left: auto;
    border: none;
    background-color: #07AA7C;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
   
}

.btnBusqueda:hover {
    background-color: hwb(107 67% 7%);
    
  }

  .btnReiniciarBusqueda{
    
    margin-left: auto;
    background-color: rgb(199, 94, 94);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
  }

  .btnReiniciarBusqueda:hover{
    background-color: rgb(207, 110, 110);
  }

  .calendario{
      display: flex;
      justify-content: center;
      width: 100%;
      
      
      
  }