.imagenjumbo{
    
    width: 70%; 
    
    font-family: 'Avenir', sans-serif; 
    color: #33475b;
}

.jumbotron{
    background-color: #fcf9db;
}

.coljumbo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coljumbo2{

    align-items: center;
}

.titlejumbo{
    width: 80%;
    margin: 0 auto;

}

/* 
.form-control{
    width: 29vw;
}  */

.card-title{
    color: #044E39;
}





