.imagenjumbo{
    
    width: 65%; 
    
    font-family: 'Avenir', sans-serif; 
    color:#044E39;
}

.imagenjumbo2{
    
    width: 100%; 
    
    font-family: 'Avenir', sans-serif; 
    color: #33475b;
}

.jumbotron{
    background-color: #fcf9db;
    width: 100%;
    height: 50%
}

.coljumbo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coljumbo2{

    align-items: center;
}

.titlejumbo{
    width: 75%;
    margin: 0 auto;
    color:#044E39

}

/* 
.form-control{
    width: 29vw;
}  */

.card-title{
    color: #044E39;
}
