.pageLogin{
    background-color: #f3f1d7;
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
  }

  .form {
    background-color: #FCF5AB;
    width: 400px;
    /* height: 100%; */
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 45px;
    margin-bottom: 35px;
    color:#044E39;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    background-color: white;
  }
  
  
  ::placeholder {
    color: #044E39;
    
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #D0F3C6;
    color: #044E39;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: hwb(107 67% 7%);
    transform: translateY(-2px);
  }

  .contraseña{
    
    color:#044E39
  }

  .recuperarContraseña{
    margin-top: 20px;
  }
  .checkbox{
    margin-top: 20px;
    position: relative;
    height: 30px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .cuadrocheck{
    cursor: pointer;
  }

  .titlemodal{
    display: flex;
    justify-content: space-between;
  }

  .titlewelcome{
    color: #044E39;
    display: flex;
    justify-content: center;
  }

  .submitBtnmodal{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border: none;
    background-color: #D0F3C6;
    color: #044E39;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
    margin-bottom: 18px;
    margin-top: 18px;
    
    
    
  }

  .modalbody{
    background-color: white;
    margin-top: 18px;
  }