.tituloMensaje {
    color: #044E39;
}

.textoMensaje {
    color:#044E39;
}

.cardMensaje{
    background-color:#FCFBF6;
    
    
    
}
.mensajesRecibidos{
    display: flex;
    justify-content: center;
    
    
}

.tabCliente {
    background-color: #D0F3C6;
    

    
} 

.title {
    color: black;
  
}

.formularioDemail{
    resize: none;
    top: 0px;
    left: 0px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px; 
    outline: none;
    background: none;
    z-index: 1;
    background-color: white;
    max-width: 100%;  
}