.pruebacontainer {
  max-width: 50%;
  background-color: #fcf9db;
  color: #044e39;
}

.cardlogin {
  border: 0;

  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.columnalogin {
  background-color: #fcf9db;
}

.imagenlogin {
  margin: 0 auto;
  align-items: center;
  background-color: #fcf9db;
}

.imagenlogin2 {
  margin: 0 auto;
  align-items: center;
  background-color: #fcf9db;
}

.bt-login {
  background-color: #d0f3c6;
  color: #044e39;
  border: none;
  border-radius: 1.5rem;
  font-size: x-large;
  width: 100%;
}

.bt-login:hover {
  background-color: hwb(107 67% 7%);
  color: black;
  transform: translateY(10%);
}

.bt-login:active {
  background-color: #d0f3c6;
  color: #044e39;
  border: none;
  border-radius: 1.5rem;
  font-size: x-large;
  width: 100%;
}

.checkboxsignup {
  font-size: larger;
}

.spanayuda {
  cursor: help;
}

.carouserCards {
  
  overflow-y: auto;
  max-height: 50vw;
  background-color: #d0f3c663;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  margin-left: 4%;
  
}

.cardbodyanunciosaver {
  position: relative;
  top: -30%;
 
  padding: 10px 10px 0 10px;
}

.cardpostit {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 100%;
  width: 100%;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: -moz-transform 0.15s linear;
  max-width: 360.788px;
  max-height: 295.675px;
}

.cardpostit:hover,
.cardpostit:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);

  transform: scale(1.1);
  position: relative;
  z-index: 5;
}

.cardpostit:nth-child(even) .comolaa {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}
.cardpostit:nth-child(3n) .comolaa {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
.cardpostit:nth-child(5n) .comolaa {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

.fotoprofesion {
  
  position: relative;
  top: -82px;
  margin: 0 auto;
  left: -20px;
  height:280px;
  width: 230px;
}

.chincheta {
    position: relative;
  align-items: center;
    top: -40px;
    left: 5px;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  
}

.titlecard{
  font-size: xx-large;
}


.areaarea{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cardanuncionuevo {
  border: 0;

  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.imagenanuncio{
  display:flex;
  justify-content: center;
  margin :0 auto;
  margin-top: 100px;

}