.perfilprofesionalpage{
  max-width: 100%;

}

.tabla-profesiones {
  border: 1px solid green;
  text-align: center;
  width: 96%;
  margin-top: 2%;
  margin:0 auto;
  background-color: #d0f3c6;
}
.uno{
  background-color: #08AA7C;


}

.fecha {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid green;
  width: 60px;
  padding: 2px;
  /*  font-weight: normal; */
}
.tabla-body {
  border: 1px solid green;
}

.table-head {
  border: 1px solid green;
}
.table-head1{
  width: 30px;

}


.scroll-tabla{
  overflow-y:scroll;
  height:15rem;
  width:100%;
}